#htmlContent{
  overflow: auto;
}

#app{
  overflow: hidden;
  width:400px;
  height:660px;
  position: absolute;
  margin-left: 5px;

  
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

}
div,a,span,button,img{
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.wait{
padding-left: 5px;
  padding-top: 5px;
position: relative;
  margin-left: 0px;  
  width:400px;
  height:660px;
  
 background: #555;
 -webkit-opacity:0.4;
position: absolute;;
z-index: 1001;
left: 0px;
top: 0px;
}
.icon i
{
  font-size: 70px;
  position: absolute;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  margin-left: -38px;
  margin-top: -27px;
}
body{
  
}
.place-center{
  position: absolute;
  left:0px;
  top:50%;
  margin-top: -100px;
  
}
.view{
  position: absolute;
  left:0px;
  top:0px;
  background: #fff;
  width: 400px;
  height: 660px;
  -webkit-backface-visibility:hidden;
}

@-webkit-keyframes pop_out {
  from {
    -webkit-transform: scale(1);
    -webkit-opacity:1;    
  }
 
  to {
    
    -webkit-opacity:0;    
    -webkit-transform: scale(0.1);
  }
}

@-webkit-keyframes pop_in {
  from {
    -webkit-transform: scale(0.2);
    -webkit-opacity:0;
  }
 
  to {
    -webkit-opacity:1;    
    -webkit-transform: scale(1);
  }
}

.pop_out{
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: pop_out;
}


.pop_in{
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: pop_in;
}
.divbox{
  width: :100%;
  height: 600px;
  position: relative;
}

#htmlsubContent{
  font-size: 11px;
}