<script src="siadinAPI.js"> </script>
<div id='mhs'></div>
<div id='mhsTable'></div>
<script>
siadinAPI.url='http://dinus.ac.id/androidAPI/index.php';
var param={
	username:'B12.2011.01967',
	password:'b12.2011.01967',
	fields:"nim,nama"
};

		
		siadinAPI.call('mhs_info',null,function(response){
			console.log(response.data);
		});

</script>